[access]
	inheritFrom = OSS/OSS-Parent
[access "refs/*"]
	owner = group ECM CI
	owner = group HoneyMerge
	owner = group user/ID for EO Top Tier Services (eoadm100)
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	create = group AM
	createTag = group AM
	forgeCommitter = group AM
	push = +force group user/Gergely Nagy L (eernagg)
	push = +force group user/ID for App Mgr FUNCTIONAL (amadm100)
	push = +force group user/John Lynch (ejohlyn)
	push = +force group user/Kian Jennings (ekiajen)
	push = +force group user/Michael Kelly M (ekellmi)
	push = +force group user/Robert Dunne (erodunn)
	label-Code-Review = -2..+2 group AM
	label-Code-Review = -2..+2 group user/Ellen Thomas (eleohlt)
	label-Code-Review = -1..+1 group user/Oleksandr Velychko (EXT) (xolevel)
	label-Code-Review = -1..+1 group user/Yurii Novostavskyy (enovyur)
	label-Verified = -1..+1 group AM
	label-Verified = -1..+1 group user/Ellen Thomas (eleohlt)
	label-Verified = -1..+1 group user/LCI user access (lciadm100)
	rebase = group AM
	viewDrafts = group AM
	publishDrafts = group AM
	submit = group ECM CI
	submit = group HoneyMerge
	submit = group user/Ellen Thomas (eleohlt)
	submit = group user/ID for App Mgr FUNCTIONAL (amadm100)
	submit = group user/ossapps100 User for IDUN App Staging (ossapps100)
	pushMerge = group AM
[access "^refs/changes/master*"]
	push = group AM
[access "^refs/for/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/master.*"]
	create = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -1..-1 group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	createTag = group Registered Users
	push = group Registered Users
[access "refs/for/refs/*"]
	create = group Registered Users
	push = group Registered Users
[project]
	state = read only
[plugin "its-jira"]
	enabled = true
	instanceUrl = https://jira-oss.seli.wh.rnd.internal.ericsson.com/
	jiraUsername = amadm100
	password = 70x+mNtb+DwTz6TCqdzSYsDUIE/R3m3oGHahTKHAEys=
[plugin "eiffel"]
	enabled = false
	selected = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
